@import "https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism-tomorrow.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/plugins/unescaped-markup/prism-unescaped-markup.min.css";
@import "https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap";

@tailwind base;
@tailwind components;
@tailwind utilities;

[v-cloak] {
    @apply hidden;
}

html, body {
    @apply relative h-full;
}

body {
    @apply antialiased;
}

header {
    transition-property: top;
    top:-100px;
    @apply px-3 py-3 lg:px-6 bg-gray-800 text-white flex w-full fixed duration-500 ease-in items-center space-x-4 lg:space-x-6 z-10 sm:justify-start justify-between;
}

header .logo {
    font-family: "JetBrains Mono", monospace;
    @apply text-3xl m-0 whitespace-nowrap;
}

header a {
    @apply text-sm font-bold py-1 px-3 text-white hover:text-blue-400 transition duration-200 ease-in text-center;
}

#showMenu + header a{
    @apply sm:block hidden;
}

#showMenu:checked + header a{
    @apply block;
}

header label[for="showMenu"] {
    @apply focus:outline-none px-4 sm:hidden;
}

.section-container > section {
    @apply lg:w-5/6 mx-auto;
}

section h1, section h2, section h3, section h4 {
    font-family: "JetBrains Mono", monospace;
    @apply tracking-tight;
}

section h1 {
    @apply text-9xl font-bold;
}

section h2 {
    @apply text-5xl;
}

section h3 {
    @apply text-4xl text-gray-700 mb-3;
}

section h4 {
    font-family: "JetBrains Mono", monospace;
    @apply text-2xl;
}

section h5 {
    @apply text-lg font-bold my-2;
}

.params {
    @apply mt-4;
}

.params code {
    @apply rounded py-1 px-2 bg-green-500 text-green-100 mr-2 whitespace-nowrap inline-block text-sm leading-4;
}

.params code em {
    @apply text-green-800;
}

code[class*="language-"], pre[class*="language-"] {
    word-wrap: normal !important;
    white-space: pre-wrap !important;
    @apply m-0;
}

footer {
    @apply text-left font-bold text-sm p-6 mb-0 mt-6 bg-gray-800 text-white;
}
